<style>
    
    .category-cell {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 30px;
    }
</style>



<div class="container">
    <ul class="category'cell">
        <li class="menu-category">
            <a href="{% url 'products:list' %}" class="menu-title">
                Todo
            </a>
        </li>

        {% for cate in category %}
            {% if cate.has_products %}
                <li class="menu-category">
                    <a class="menu-title" href="{% url 'products:list' %}?category={{ cate.pk }}">
                        {{ cate }}
                    </a>
{#                    {% if not classification.parent %}#}
                        {% if cate.get_children %}
                            <ul class="dropdown-list">
                                {% for child in cate.get_children %}
                                    {% if child.products.exists %}
                                        <li class="dropdown-item">
                                            <a href="{% url 'products:list' %}?category={{ cate.pk }}">
                                                {{ cate }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
{#                    {% endif %}#}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
