<div style="display: flex; align-items: center; background-color: #f9fafb; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
  {% if object.image %}
  <a href="{{ object.get_absolute_url }}">
    <img style="width: 100%; max-width: 256px; border-radius: 8px 0 0 8px; object-fit: cover;" src="{{ object.image.url }}" alt="{{ object.name }}">
  </a>
  {% endif %}
  <div style="padding: 20px;">
    <h3 style="font-size: 1.25rem; font-weight: bold; color: #111827;">
      <a href="{{ object.get_absolute_url }}" style="text-decoration: none; color: inherit;">{{ object.name }}</a>
    </h3>
    <span style="font-size: 1.875rem; font-weight: bold; color: #111827;">${{ object.price }}</span>
    <span style="color: #6b7280;">{{ object.handle }}</span>
    <p style="margin-top: 12px; margin-bottom: 16px; color: #6b7280;">Disponibles: {{ object.supply }}</p>
    {% if object.user != request.user %}
      {% if object.supply != 0 %}
    <form action="{% url 'carro:agregar' object.id %}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="product_id" value="{{ object.id }}">

      <div style="display: flex; align-items: center; margin-bottom: 16px;">
        <label for="quantity" style="margin-right: 8px; color: #374151;">Cantidad:</label>
        <input type="number" id="quantity" name="quantity" min="1" max="{{ object.supply }}" value="1" style="background-color: #f9fafb; border: 1px solid #d1d5db; color: #111827; border-radius: 4px; padding: 8px; width: 100%;" required>
      </div>
      <button type="submit" style="background-color: #ff7f50; color: white; border: none; border-radius: 4px; padding: 10px 20px; font-size: 14px; cursor: pointer; transition: background-color 0.3s;">
        Agregar al carrito
      </button>
    </form>
      {% endif %}
    {% endif %}
  </div>
</div>
