{% load static %}

<style>
    .responsive-banner {
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    .responsive-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
    }

    .responsive-slider {
        display: flex;
        transition: transform 0.5s ease;
        width: 100%;
        position: relative; /* Para permitir el desplazamiento */
    }

    .responsive-item {
        flex: 0 0 100%;
        position: relative;
        text-align: center;
    }

    .responsive-image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .button-container {
        position: absolute;
        bottom: 15px;
        left: 110px;
        display: flex;
        gap: 10px;
        z-index: 10;
    }

    :root {
        --salmon-pink: hsl(353, 100%, 78%);
    }

    .promo-button {
        padding: 8px 16px;
        background-color: var(--salmon-pink);
        color: white;
        text-decoration: none;
        border-radius: 4px;
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .promo-button:hover {
        background-color: rgba(0, 0, 0, 0.9);
    }


    @media (max-width: 768px) {
    .button-container {
        bottom: 15px; /* Ajusta la posición vertical */
        left: 25%; /* Centra el contenedor horizontalmente */
        transform: translateX(-50%);
        display: flex;
        gap: 10px;
        z-index: 10;
    }

    .promo-button {
        padding: 7px 14px; /* Ajusta el tamaño del botón */
        font-size: 13px; /* Ajusta el tamaño de la fuente */
    }
}

@media (max-width: 600px) {
    .button-container {
        bottom: 10px;
        left: 35%; /* Centra el contenedor horizontalmente */
        transform: translateX(-50%);
        display: flex;
        gap: 10px;
        z-index: 10;
    }

    .promo-button {
        padding: 5px 10px;
        font-size: 10px;
    }
}

</style>


<style>
.payment-method {
    display: inline-block; /* Muestra las imágenes en línea */
    margin-right: 10px; /* Ajusta el margen derecho según sea necesario */
    /* Agrega más estilos específicos para las imágenes de los métodos de pago aquí */
}


/* Estilos para la Modal */
.modal {
    display: none; /* Oculta la modal por defecto */
    position: fixed; /* Mantiene la modal en posición fija */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    overflow: auto; /* Permite el desplazamiento si es necesario */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con opacidad */
}

.modal-content {
    background-color: #fff; /* Fondo blanco */
    margin: 10% auto; /* Centra la modal */
    padding: 20px;
    border: 1px solid #888; /* Borde gris */
    width: 90%; /* Ancho adaptable */
    max-width: 500px; /* Ancho máximo */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

.close-button {
    color: #aaa; /* Color del botón de cerrar */
    float: right; /* Alinea a la derecha */
    font-size: 28px; /* Tamaño del texto */
    font-weight: bold; /* Negrita */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
}

.close-button:hover,
.close-button:focus {
    color: black; /* Cambia a negro al pasar el ratón */
    text-decoration: none; /* Sin subrayado */
    cursor: pointer; /* Cambia el cursor */
}

/* Estilos para pantallas pequeñas */
@media (max-width: 480px) {
    .modal-content {
        margin: 5% auto; /* Reduce el margen en pantallas pequeñas */
        padding: 15px; /* Menos espaciado en pantallas pequeñas */
    }

    .close-button {
        font-size: 24px; /* Tamaño de fuente más pequeño para el botón de cerrar */
    }

    .modal-content h2 {
        font-size: 20px; /* Tamaño de fuente más pequeño para el título */
    }

    .modal-content p {
        font-size: 14px; /* Tamaño de fuente más pequeño para el párrafo */
    }
}

</style>

<div class="responsive-banner">
    <div class="responsive-container">
        <div class="responsive-slider" id="slider">
            {% for promocion in promociones %}
                {% if promocion.imagen_peque and promocion.imagen %}
                    <div class="responsive-item">
                        <a href="{% url 'products:promotion' promocion.pk %}">
                            <img
                                src="{{ promocion.imagen_peque.url }}"
                                srcset="{{ promocion.imagen_peque.url }} 600w, {{ promocion.imagen.url }} 1200w"
                                sizes="(max-width: 425px) 100vw, (max-width: 600px) 100vw, 100vw"
                                alt="{{ promocion.nombre }}"
                                class="responsive-image"
                            >
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="button-container">
            <a href="javascript:void(0);" class="promo-button" onclick="openModal()" >
                <ion-icon name="location-outline"></ion-icon> Santa Clara, Villa Clara
            </a>
            <a href="javascript:void(0);" class="promo-button">
                <ion-icon name="bicycle-outline" onclick="openModal()" ></ion-icon> Domicilio
            </a>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="deliveryModal2" class="modal">
    <div class="modal-content">
        <span class="close-button" onclick="closeModal()">&times;</span>
        <h2>Información sobre Domicilio</h2>
        <p>Solo se hacen entregas a domicilio en Santa Clara. Las entregas son planificadas con antelación y se le contactará previamente para precisar fecha y hora.</p>
    </div>
</div>


<script>
    let currentIndex = 0; // Inicia en el primer elemento
    const slides = document.querySelectorAll('.responsive-item');
    const totalSlides = slides.length; // Total de imágenes
    const slider = document.getElementById('slider');

    function showSlide(index) {
        const offset = -index * 100; // Mover el carrusel a la izquierda
        slider.style.transform = `translateX(${offset}%)`;
    }

    function nextSlide() {
        currentIndex++;
        if (currentIndex >= totalSlides) {
            currentIndex = 0; // Reiniciar al primer elemento
        }
        showSlide(currentIndex);
    }

    // Cambiar cada 4 segundos
    let autoSlide = setInterval(nextSlide, 4000);

    // Añadir soporte para pausar el carrusel al pasar el ratón sobre la imagen
    slides.forEach(slide => {
        slide.addEventListener('mouseover', () => {
            clearInterval(autoSlide); // Detener el intervalo
        });
        slide.addEventListener('mouseout', () => {
            autoSlide = setInterval(nextSlide, 4000); // Reiniciar el intervalo
        });
    });
</script>



<script>
function openModal() {
    document.getElementById("deliveryModal2").style.display = "block";
}

function closeModal() {
    document.getElementById("deliveryModal2").style.display = "none";
}

// Cierra la modal si el usuario hace clic fuera de ella
window.onclick = function(event) {
    const modal = document.getElementById("deliveryModal2");
    if (event.target === modal) {
        modal.style.display = "none";
    }
}
</script>



