{% extends 'base.html' %}

{% block content %}
<style>
 :root {
        --spanish-gray: hsl(0, 0%, 60%);
        --sonic-silver: hsl(0, 0%, 47%);
        --eerie-black: hsl(0, 0%, 13%);
        --salmon-pink: hsl(353, 100%, 78%);
        --sandy-brown: hsl(29, 90%, 65%);
        --bittersweet: hsl(0, 100%, 70%);
        --ocean-green: hsl(152, 51%, 52%);
        --davys-gray: hsl(0, 0%, 33%);
        --cultured: hsl(0, 0%, 93%);
        --white: hsl(0, 100%, 100%);
        --onyx: hsl(0, 0%, 27%);
    }


.card {
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  width: 90%;
  max-width: 400px; /* Ajusta según sea necesario */
  margin: 0 auto; /* Asegura que esté centrada */
  text-align: center; /* Centra el texto dentro de la tarjeta */
  margin-top: 30px;
  margin-bottom: 30px;
}

.button {
  width: 100%; /* Cambiado a 100% para que se ajuste al ancho del card */
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: var(--salmon-pink);
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 40px;
}

.button:hover {
  background-color: black;
  border-color: black;
}
</style>

<div class="card">
  <h1 style="font-size: x-large; margin-bottom: 20px;">Restablecer contraseña</h1>

  <form method="post" class="w-full">
    {% csrf_token %}
    {{ form.as_p }}
    <button name="Send email" type="submit" class="button">
      Enviar correo
    </button>
  </form>

  {% if messages %}
  <ul class="mt-4 list-unstyled">
    {% for message in messages %}
    <li class="text-green-500">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endblock %}
