{% extends 'base.html' %}

{% block content %}
<div class="custom-container">

    {% if pedidos_stripe %}
        {% include 'purchases/solicitud/filtrar_solicitudes_stripe.html' %}
        {% include 'purchases/solicitud/pedidos_stripe.html' %}
    {% else %}
        <div class="custom-empty-state">
            <h2 class="custom-title">No tienes pedidos</h2>
            <p class="custom-message">Aún no has realizado ningún pedido.</p>
            <a href="{% url 'products:list' %}" class="custom-button">
                Realizar un pedido
            </a>
        </div>
    {% endif %}
</div>

<style>
:root {

/**
 * colors
 */


--salmon-pink: hsl(353, 100%, 78%);
}

    .custom-container {
        padding: 20px;
        max-width: 1000px;
        margin: auto;
        background-color: white; /* Fondo blanco */
        border-radius: 8px;
        /* Eliminamos la sombra para que no se distinga del fondo */
    }

    .custom-empty-state {
        background-color: white; /* Fondo blanco para el estado vacío */
        border-radius: 8px;
        padding: 30px;
        text-align: center;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil para destacar el contenido */
    }

    .custom-title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 20px;
        color: #2c3e50;
    }

    .custom-message {
        color: #666;
        margin-bottom: 20px;
    }

    .custom-button {
    background-color: var(--salmon-pink);
    color: white;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    width: 300px;
    display: block; /* Asegúrate de que sea un bloque */
    margin: 0 auto; /* Centra horizontalmente */
}

    .custom-button:hover {
        background-color: black;
    }

    @media (max-width: 768px) {
        .custom-container {
            padding: 15px;
        }

        .custom-title {
            font-size: 1.5rem;
        }

        .custom-button {
            padding: 10px 20px;
        }
    }
</style>
{% endblock %}